/* 유니코드작성 */
@charset 'utf-8';

/* 잔체설정 */

* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}

/* 가시속성 설정 */

.layout001 {border: 1px solid black;
            margin: 10px;
            padding: 10px;}

/* 백그라운드 쓸거면 패딩. 아니면 별로 상관없음 */

.layout001 li {border-bottom: 5px solid yellow; margin-bottom: 5px;
        background-image: linear-gradient(90deg, #ccc 50%, #000 0);
        background-size: 8px;
        background-repeat: no-repeat;
        padding-left: 10px;}


.box001 {background-color: aquamarine;
        padding: 40px;}

.box001 span {border: 1px solid #000;
            padding: 20px;}
/* 전체 설정할거 아니면 건바이건으로 설정해줘야함 인라인블럭 */
.box001 span:nth-child(1) {display: inline;}
.box001 span:nth-child(2) {display: inline-block;}
.box001 span:nth-child(3) {display: block;}

/* float 속성 */

.layout002 {border: 1px solid black;
    margin: 10px;
    padding: 10px;}

.box002 {background-color: aquamarine;
    padding: 40px;}

.box002 li {border: 1px solid #000;
                padding: 10px;
                float: left;}

.box002 li {border: 1px solid #000;
                    padding: 10px;
                    float: left;}


/* 부모자 공간값 주는것 - 자손들은 이 안에서 놀아라~! / 에프터가 없으면 딴 집에가 놀러와서 키워달라함*/

.box002:after {content: '';
                display: block;
                clear: both;} 

/* 컨텐츠 - '가상선택자' 디스플레이 보여주는 성질 - 블럭으로 100%로채워라  
/ 청소해라(여백) 양쪽으로 */

.box002 li:nth-child(5) {float: right;}
.box002 li:nth-child(4) {float: right;}

/* flex 속성 */

.box003 {background-color: aquamarine;
            padding: 40px;
            display: flex;
            justify-content: space-around;}

.box003 li {border: 1px solid #000;
            padding: 10px;}


/* position 예제 */

.box004 {
    background-color: cadetblue;
    display: flex;
    height: 200px;
    position: relative;
    z-index: 3;
    }

.box004 p {
    width: 200px;
    height: 200px;
    border: 1px solid #000;}

.box004 p:nth-child(1) {
    position: relative;
}
.box004 p:nth-child(2) {
    position: absolute;
    left: 200px;
    top: 0px;
}

.box004 p:nth-child(3) {
    position: fixed;
    top: 0;
    left: 0;
}

.box005 {
    background-color: rgba(29, 172, 36, 0.795);
    height: 500px;
    margin-top: 20px;
    position: relative;}

.box005 p:nth-child(1) {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.box005 p:nth-child(2) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 216, 43);
    right: 50px;
    bottom: 50px;
}

.box005 p:nth-child(2) span {
    position: absolute;
    left: 50%;
    top: 50%;
}
.box005 p:nth-child(3) {
    width: 200px;
    height: 200px;
    background-color: rgb(207, 142, 0);
    position: fixed;
    bottom: 0;
    right: 0;
}

/* z-index 속성 예제 */

.box006 {
    width: 400px;
    height: 400px;
    background-color: lightslategray;
    position: relative;
}
.box006 p:nth-child(1) {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    z-index: 4;

}

.box006 p:nth-child(2) {
    width: 200px;
    height: 200px;
    background-color: rgb(67, 153, 64);
    position: absolute;
    left: 50px;
    top: 50px;

}
.box006 p:nth-child(3) {
    width: 200px;
    height: 200px;
    background-color: rgb(78, 104, 255);
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;} /* -1은 부모자 뒤로 내려간다 */






