@charset "UTF-8";
/* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
ul,ol {list-style: none;}
img {vertical-align: bottom;}

body {
    width: 100%;
    height: 4000px;
    background-color: #ddd;
}

h1 {
    position: fixed;
    font-size: 50px;
    right: 20px;
    top: 20px;
}
nav {
    position: fixed;
    left: 20px;
    top: 20%;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
nav ul li:hover {
    color: #fff;
}

section {
    position: fixed;
    background-color: #ddd;
}

article {
    width: 180px;
    height: 400px;
    margin: 10px;
    background-color: #fff;
    float: left;
    box-shadow: 5px 5px 5px #bbb;
    border-radius: 5px;
    opacity: 0.5;
    
}
article h2 {
    background-color: #ccc;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    transition: text-shadow 0.8s;
    border-radius: 5px 5px 0 0;
}

article h2:hover {
    /* text-shadow: 1px 1px 0 #fff;
    box-shadow: 5px 5px 5px #ccc; */
}


