@charset "UTF-8";
/* 전체설정 */
* {margin: 0; padding: 0;}

ul,ol {list-style: none;}
a {color: #000; text-decoration: none;}
img {vertical-align: bottom;}


/* 전체화면설정 */

/* 높이값 100%는 부모자의 값이 있거나,(없으면 윈도우가 부모가 됨) 포지션 픽스드를 써야 의미가 있음 */
/*레이아웃이 틀어짐을 방지하고 일정 넓이와 높이 이하로는 콘텐츠가 줄어들지 않도록 설정하기위해최소값을 정해준다.*/
#wrap {
    width: 100%;
    min-width:1024px;
    min-height: 768px;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 191, 255);
    left: 0;
    top: 0;
    perspective: 900px;
}

/* 메뉴버튼설정 */
#wrap em {
    width: 50px;
    height: 50px;
    background-color: deepskyblue;
    position: fixed;
    left: 40px;
    top: 50px;
    z-index: 999;
}



/* 네비설정 */
#wrap nav {
    position: fixed;
    height: 100%;
    width: 150px;
    background-color: #eee;
    left: 0;
    top: 0;
    z-index: 10;
    transition: all 0.8s;
    transform: rotateY(120deg);
    transform-origin: left;
    opacity: 0;
} 

/* 섹션설정 */
#wrap section {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(194, 238, 253);
    z-index: 1;
    transition: all 0.5s;
    transform-origin: right;
}

/*변환모습*/

#wrap nav.on {
    transform:rotateY(15deg);
    opacity: 1;
}
#wrap section.on{
    transform:rotateY(-8deg);
}